language: node_js
node_js:
- "node"
install:
- yarn install
- yarn flow-typed install
script:
- yarn lint
- yarn flow
deploy:
  provider: script
  skip_cleanup: true
  script:
  - yarn deploy
  on:
    branch: master
