body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
  background-color: white;
}

button {
  background-color: white;
}

.complex-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #eaebf0;
}

.complex-header-text {
  display: block;
}

.complex-header {
  background-color: white;
}

.complex-header-title {
  font-family: "Philosopher";
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #3e4247;
  line-height: 1;
  margin-top: 24px;
  margin-bottom: 1rem;
}

.complex-header-location {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  line-height: 1.2;
  color: #a9afb6;
  margin-top: 0;
  margin-bottom: 16px;
}

.complex-header-button {
  margin-bottom: 52px;
  color: #00779a;
  text-align: left;
  font-size: 10px;
  font-weight: 300;
  line-height: 1; 
  padding: 8px 16px;
  border-radius: 2px;
  border: solid 1px #e0e0e1;
  padding: 8px 16px;
  font-family: "Fira Sans", sans-serif;
  margin-top: 24px;
}

.complex-gallery {
  display: flex;
  overflow-x: auto;
}

.complex-gallery-image {
  height: 400px;
  object-fit: contain;
}

.complex-gallery-button {
  position: absolute;
  border-radius: 2px;
  background-color: #00779a;
  font-family: "Fira Sans";
  font-size: 10px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  border-radius: 2px;
  margin-top: -2.625rem;
  padding: 8px 16px;
  border-style: none;
}

.complex-summary-header {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 18px;
}

.summary-header-title {
  display: block;
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #3e4247;
  margin-right: 48px;
  line-height: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0;
}

.summary-header-text {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
  line-height: 1;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

.complex-features {
  margin-top: 8px;
  margin-bottom: 32px;
  padding-top: 32px;
  border-top: solid 1px #eaebf0;
}

.complex-features-title {
  display: block;
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #3e4247;
  margin-right: 48px;
  line-height: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0;
}


.features-block {
  display: flex;
  justify-content: space-between;
  font-family: "Fira Sans";
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #3e4247;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.features-block-title {
  font-family: "Fira Sans";
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  line-height: 1.56;
  color: #a9afb6;
  width: 50%;
  margin-top: 0rem;
  margin-bottom: 0.25em;
}

.features-block-text {
  font-family: "Fira Sans";
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #3e4247;
  margin-left: 48px;
  width: 50%;
  line-height: 1.56;
}

.complex-description-title {
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #3e4247;
  padding-top: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.complex-description-text {
  font-size: 16px;
  text-align: left;
  color: #3e4247;
  font-weight: 400;
  white-space: pre-line;
  text-indent: 0;
  line-height: 25px;
}

.infrastructure {
  padding-top: 32px;
  margin-top: 32px;
  border-top: solid 1px #eaebf0;
}

.infrastructure-title {
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: bold;
  line-height: 1.13;
  text-align: left;
  color: #3e4247;
  margin-top: 0;
  margin-bottom: 16px;
  padding-bottom: 0;
}

.infrastructure-wrapper {
  padding-top: 16px;
  padding-bottom: 56px;
}

.infrastructure-text {
  font-size: 16px;
  text-align: left;
  color: #3e4247;
  margin-bottom: 8px;
  line-height: 1.38;
  margin-top: 0;
}

.offers {
  background-color: #f4f5f9;
  padding-top: 64px;
  padding-bottom: 64px;
}

.offers-title {
  margin-right: auto;
  margin-left: auto;
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #3e4247;
  margin-top: 0.5rem;
  margin-bottom: 24px;;
  padding-bottom: 0;
}

.offers-list-wrapper {
  padding: 24px 32px;
  background-color: white;
}

.offers-list-block {
  display: block;
  margin-bottom: 24px;
}

.offers-list-title {
  font-family: "Philosopher";
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #3e4247; 
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.offers-list-block-title {   
  font-size: 16px;
  color: #a9afb6;
  margin-bottom: 10px;
  line-height: 1.38;
  margin-top: 0;
  margin-bottom: 10px;
}

.offers-list-text {
  font-size: 16px;
  color: #3e4247;
  line-height: 1.38;
  padding: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 25px;
}

.offers-list-button {
  background-color: black;
  color: white;
  border-style: none;
  border-radius: 2px;
  padding: 12px 32px;
  text-align: center;
  line-height: 1;
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 0;
}

.complex-nearby {
  background-color: #3e4247;
  padding-top: 64px;
  padding-bottom: 218px;
}

.complex-nearby-title {
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: bold;
  line-height: 27px;
  text-align: left;
  color: #a9afb6;
  margin-top: 0;
  margin-bottom: 3rem;
  padding-bottom: 0;
}

.complex-nearby-text {
  font-family: 'Philosopher';
  font-size: 48px;
  font-weight: bold;
  line-height: 1.25;
  color: #ffffff;
  margin-bottom: 3.25rem;
}

.complex-nearby-link {
  text-decoration: none;
  font-family: 'Fira Sans';
  font-size: 16px;
  color: #00779a;
}

.complex-nearby-link-arrow {
  width: 8.8px;
  height: 8px;
  object-fit: contain;
  margin-left: 8px;
}

.complex-nearby-image {
  width: 100%;
}

.complex-location {
  margin-top: -150.5px;
  margin-bottom: 64.5px;
}

.complex-map {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 303px;
}

.complex-location-content {
  padding: 24px;
  background-color: white;
  border-bottom: solid 1px #e0e0e1;
}

.complex-location-duration {
  margin-top: 8px;
  line-height: 1.38;
  color: #a9afb6;
}

.complex-location-name {
  line-height: 1.38;
  font-weight: 500;
  color: #3e4247;
}

.complex-location-content-list {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
}