body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}

.body-pattern {
  background-image: url(img/background.png);
  background-size: 20px 10px;
  background-color: #eaebf0;
}

html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
}

.main-header {
  background-color: #fff;
}

.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-logo {
  width: 179.1px;
  height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color: var(--charcoal-grey);
  outline: none;
  text-decoration: none;
}

.main-header-nav {
  line-height: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 0
}

.main-header-nav-link {
  text-decoration: none;
  color: #3e4247;
  line-height: 16px;
  text-decoration: none;
}

.main-header-nav-link:not(:last-child) {
  margin-right: 32px;
}

.main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161616;
  padding-top: 80px;
  padding-bottom: 80px;
  width: auto;
  margin-bottom: 64px;
}

.class-development-logo {
  width: 418.9px;
  height: 131px;
  object-fit: contain;
  max-width: 50%;
}

.description {
  text-align: center;
  color: #3e4247;
  margin-bottom: 64px;
}

.description-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 8px;
}

.description-text {
  line-height: 1.5rem;
}

.description-button {
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  padding: 12px 32px;
  margin-top: 16px;
  font-size: 16px;
}

.card {
  display: flex;
  background: #fff;
  text-decoration: none;
  margin-bottom: 48px;
}

.card-image {
  width: 484px;
  height: 350px;
}

.card-description {
  display: block;
  padding-left: 16px;
  padding-right: 100px;
  border-bottom: solid 2px #646971;
}

.card-location {
  display: block;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  font-size: 16px;
  text-align: left;
  color: #646971;
  margin-top: 24px;
  line-height: 1.25;
}

.card-title {
  display: block;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: #000000;
  margin-top: 24px;
}

.card-text {
  display: block;
  line-height: 1.5;
  text-align: left;
  color: #3e4247;
  margin-top: 8px;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0,0,0,.3);
}

.main-footer {
  background-color: #111111;
}

.footer-wrapper {
  padding-top: 32px;
  padding-bottom: 28px;
}

.footer-border {
  border: solid 1px #3e4247;
  margin-left: 0;
  margin-top: 0;
}

.footer-title {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #646971;
  margin-top: 16px;
  margin-bottom: 8px;
  line-height: 20px;
}

.footer-title-name {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #646971;
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 20px;
}

.footer-info {
  display: block;
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  margin-top: 8px;
  color: #a9afb6;
}

.footer-link {
  display: block;
  text-decoration: none; 
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #ffffff;
  margin-top: 8px;
}

.footer-link-all {
  margin-top: 16px;
}

.footer-link-arrow {
  width: 8.8px;
  height: 8px;
  object-fit: contain;
  background-color: #111111;
  margin-left: 8px;
}

.footer-phone {
  margin-top: 16px;
}

.footer-disclaimer {
  margin-top: 96px;
  font-size: 11px;
  font-weight: 300;
  text-align: left;
  line-height: 1.15rem;
  color: #a9afb6;
}

/* complex.html styles*/

