body {
  background-color: #eaebf0;
  background-image: url(img/background.png);
  background-size: 20px 10px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}

html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
}

.main-header {
  background-color: #fff;
}

.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.compass-logo {
  width: 179.1px;
  height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

p, h2, h3, h4 {
  margin: 0;
}

a {
  color: var(--charcoal-grey);
  outline: none;
  text-decoration: none;
}

.navmenu {
  line-height: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 0
}

.navmenu-link {
  text-decoration: none;
  color: #3e4247;
  line-height: 16px;
  text-decoration: none;
}

.buy {
  margin-right: 32px;
}

.rent {
  margin-right: 32px;
}

.main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161616;
  padding-top: 80px;
  padding-bottom: 80px;
  width: auto;
}

.class-development-logo {
  width: 418.9px;
  height: 131px;
  object-fit: contain;
  max-width: 50%;
}

.description {
  text-align: center;   
  margin-bottom: 64px;
  margin-top: 64px;
  margin-left: 328px;
  margin-right: 328px;
}

.description-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3e4247;
  margin-bottom: 0.5rem;
}

.description-text {
  color: #3e4247;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.description-button {
  background-color: black;
  color: white;
  border-style: none;
  border-radius: 2px;
  padding: 12px 32px 12px 32px;
  text-align: center;
}

.card {
  display: flex;
  background: #fff;
  text-decoration: none;
  margin-bottom: 48px;
}

.card-bitmap {
  width: 484px;
  height: 350px;
}

.card-description {
  display: flex;
  flex-flow: column;
  padding: 24px 100px 0 16px;
  border-bottom: solid 2px #646971;
  max-width: 698px;
}

.card-location {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  font-size: 16px;
  text-align: left;
  color: #646971;
  height: 20px;
}

.card-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: #000000;
  margin-top: 24px;
}

.card-text {
  line-height: 1.5;
  text-align: left;
  color: #3e4247;
  margin-top: 8px;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0,0,0,.3);
}

.main-footer {
  background-color: #111111;
}

.footer-wrapper {
  padding-top: 32px;
  padding-bottom: 28px;
}

.footer-border {
  border: solid 1px #3e4247;
  margin-left: 0;
}

.footer-h4 {
  height: 22px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #646971;
  margin-top: 16px;
  margin-bottom: 8px;
}

.footer-p {
  display: block;
  height: 22px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  margin-top: 8px;
  color: #a9afb6;
}

.footer-link {
  display: block;
  text-decoration: none; 
  height: 22px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #ffffff;
  margin-top: 8px;
}

.footer-link-all {
  margin-top: 16px;
}

.combined-shape {
  width: 8.8px;
  height: 8px;
  object-fit: contain;
  background-color: #111111;
  margin-left: 8px;
}

.footer-phone {
  margin-top: 16px;
}

.footer-text {
  margin-top: 96px;
  font-size: 11px;
  font-weight: 300;
  text-align: left;
  line-height: 1.15rem;
  color: #a9afb6;
}
