body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
  background-color: white;
}

.body-pattern {
  background-image: url(img/background.png);
  background-size: 20px 10px;
  background-color: #eaebf0;
}

.body-pattern {
  background-image: url(img/background.png);
  background-size: 20px 10px;
  background-color: #eaebf0;
}

html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
}

.main-header {
  background-color: #fff;
}

.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-logo {
  width: 179.1px;
  height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

<<<<<<< HEAD
=======
p, h1, h2, h3, h4 {
  margin: 0;
}

>>>>>>> fixed complexes-page, complex-page without map
a {
  color: var(--charcoal-grey);
  outline: none;
  text-decoration: none;
}

<<<<<<< HEAD
.main-header-nav {
=======
.main-header-navmenu {
>>>>>>> fixed complexes-page, complex-page without map
  line-height: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 0
}

.main-header-nav-link {
  text-decoration: none;
  color: #3e4247;
  line-height: 16px;
  text-decoration: none;
}

<<<<<<< HEAD
.main-header-nav-link:not(:last-child) {
=======
.navmenu-link:not(:last-child) {
>>>>>>> fixed complexes-page, complex-page without map
  margin-right: 32px;
}

.main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161616;
  padding-top: 80px;
  padding-bottom: 80px;
  width: auto;
  margin-bottom: 64px;
}

.class-development-logo {
  width: 418.9px;
  height: 131px;
  object-fit: contain;
  max-width: 50%;
}

.description {
  text-align: center;
  color: #3e4247;
  margin-bottom: 64px;
}

.description-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 8px;
}

.description-text {
  line-height: 1.5rem;
}

.description-button {
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  padding: 12px 32px;
  margin-top: 16px;
  font-size: 16px;
}

.card {
  display: flex;
  background: #fff;
  text-decoration: none;
  margin-bottom: 48px;
}

.card-image {
  width: 484px;
  height: 350px;
}

.card-description {
  display: block;
  padding-left: 16px;
  padding-right: 100px;
  border-bottom: solid 2px #646971;
}

.card-location {
  display: block;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  font-size: 16px;
  text-align: left;
  color: #646971;
<<<<<<< HEAD
  margin-top: 24px;
  line-height: 1.25;
=======
  height: 20px;
  margin-top: 24px;
>>>>>>> fixed complexes-page, complex-page without map
}

.card-title {
  display: block;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: #000000;
  margin-top: 24px;
}

.card-text {
<<<<<<< HEAD
  display: block;
=======
   display: block;
>>>>>>> fixed complexes-page, complex-page without map
  line-height: 1.5;
  text-align: left;
  color: #3e4247;
  margin-top: 8px;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0,0,0,.3);
}

.main-footer {
  background-color: #111111;
}

.footer-wrapper {
  padding-top: 32px;
  padding-bottom: 28px;
}

.footer-border {
  border: solid 1px #3e4247;
  margin-left: 0;
  margin-top: 0;
}

.footer-title {
<<<<<<< HEAD
=======
  height: 22px;
>>>>>>> fixed complexes-page, complex-page without map
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #646971;
  margin-top: 16px;
  margin-bottom: 8px;
  line-height: 20px;
}

.footer-title-name {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #646971;
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 20px;
}

.footer-info {
  display: block;
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  margin-top: 8px;
  color: #a9afb6;
}

.footer-link {
  display: block;
<<<<<<< HEAD
  text-decoration: none;
=======
  text-decoration: none; 
>>>>>>> fixed complexes-page, complex-page without map
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #ffffff;
  margin-top: 8px;
}

.footer-link-all {
  margin-top: 16px;
}

.footer-link-arrow {
  width: 8.8px;
  height: 8px;
  object-fit: contain;
  background-color: #111111;
  margin-left: 8px;
}

.footer-phone {
  margin-top: 16px;
}

.footer-disclaimer {
  margin-top: 96px;
  font-size: 11px;
  font-weight: 300;
  text-align: left;
  line-height: 1.15rem;
  color: #a9afb6;
}


/* complex.html styles*/

.complex-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #eaebf0;
}

.complex-header-text {
  display: block;
}

.complex-header-button {
  margin-bottom: 56px;
  background-color: white;
  color: #00779a;
  text-align: left;
  font-size: 10px;
  font-weight: 300;
  line-height: 1; 
  padding: 8px 16px;
  border-radius: 2px;
  border: solid 1px #e0e0e1;
  padding: 8px 16px;
  font-family: "Fira Sans", sans-serif;
  margin-top: 24px;
}

.complex-header {
  background-color: white;
}

.complex-header-title {
  font-family: "Philosopher";
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #3e4247;
  line-height: 45px;
}

.complex-header-location {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  line-height: 20px;
  color: #a9afb6;
}

.gallery-slider {
  display: flex;
  overflow-x: auto;
}

.gallery-slider-image {
  height: 400px;
  object-fit: contain;
}

.gallery-slider-button {
  position: absolute;
  border-radius: 2px;
  background-color: #00779a;
  font-family: "Fira Sans";
  font-size: 10px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  border-radius: 2px;
  margin-top: 358px;
  margin-bottom: -28px;
  margin-left: 128px;
  padding: 8px 16px;
  border-style: none;
}


.main {
  display: flex;
  justify-content: flex-start;
  margin-top: 24px;
  margin-bottom: 24px;
}

.main-title {
  display: block;
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #3e4247;
  margin-right: 48px;
  line-height: 34px;
}

.main-small {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #a9afb6;
  line-height: 34px;
}

.features {
  margin-top: 32px;
  margin-bottom: 48px;
}

.features-title {
  display: block;
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #3e4247;
  margin-right: 48px;
  line-height: 34px;
}


.features dl {
  display: flex;
  justify-content: space-between;
  font-family: "Fira Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.4px;
  text-align: left;
  color: #3e4247;
}

.features dt {
  font-family: "Fira Sans";
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  line-height: 22px;
  color: #a9afb6;
  width: 50%;
}

.features dd {
  font-family: "Fira Sans";
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #3e4247;
  margin-left: 48px;
  width: 50%;
}

.complex-description-title {
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: left;
  color: #3e4247;
  padding-top: 0;
}

.complex-description-text {
  font-size: 16px;
  text-align: left;
  color: #3e4247;
  font-weight: 400;
  white-space: pre-line;
  text-indent: 0;
  line-height: 1.56;
}

.infrastructure {
  margin-top: 32px;
  border-top: solid 1px #eaebf0;
}

.infrastructure-title {
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: left;
  color: #3e4247;
}

.infrastructure-wrapper {
  padding-top: 56px;
  padding-bottom: 56px;
}

.infrastructure-text {
  font-size: 16px;
  text-align: left;
  color: #3e4247;
  margin-bottom: 8px;
  line-height: 25px;
}

.offers {
  background-color: #f4f5f9;
  padding-top: 64px;
  padding-bottom: 64px;
}

.offers-title {
  margin-right: auto;
  margin-left: auto;
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: left;
  color: #3e4247;
  margin-bottom: 24px;
}

.offers-list-wrapper {
  padding: 24px 32px;
  background-color: white;
}

.offers-list-block {
  display: block;
  margin-bottom: 24px;
}

.offers-list-title {
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: left;
  color: #3e4247; 
}

.offers-list-block-title {   
  font-size: 16px;
  color: #a9afb6;
  margin-bottom: 8px;
}

.offers-list-text {
  margin: 0;
  font-size: 16px;
  color: #3e4247;
  line-height: 25px;
}

.offers-list-button {
  background-color: black;
  color: white;
  border-style: none;
  border-radius: 2px;
  padding: 12px 32px;
  text-align: center;
  line-height: 16px;
  font-family: "Fira Sans", sans-serif;
}

.nearby {
  background-color: #3e4247;
  padding-top: 64px;
  padding-bottom: 218px;
}

.nearby-title {
  color: #a9afb6;
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: left;
}

.nearby-text {
  font-family: 'Philosopher';
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  color: #ffffff;
  margin-top: 48px;
  margin-bottom: 48px;
}

.nearby-link {
  text-decoration: none;
  color: #00779a;
}

.arrow-link {
  width: 8.8px;
  height: 8px;
  object-fit: contain;
  margin-left: 8px;
}

.nearby-image {
  width: 583px;
  height: 560px;
  object-fit: contain;
}
